@media screen and (min-width: 480px) {
    
    body {
        max-width: 1920px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
        
    }

    h1 {
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        align-content: center;
    }
    .navigation {
        flex-direction: row;        
        background-color: #1B263B;;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 10rem;
    }
    
    .navigation a {
        display: grid;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }
    

    #menu {
        display: none;
    }


    footer {
        font-size: 1rem;

    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 1rem;
        padding: 1rem;
        margin: 1rem;
    }

    h2 {
        grid-column: 1 / -1;
    }
}